@import "src/assets/variables";

.card {
  width: 300px;
  overflow: hidden;

  &.card-user {
    border-radius: 11px;
    max-width: 240px;
  }

  .card-header {
    width: 100%;
    height: 80px;
    background-color: $light-gray;
  }

  .img-container {
    width: 100%;
    position: absolute;

    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      z-index: 5;
      border: 8px solid $primary-bg-color;
      margin-top: 25px;
      border-radius: 50%;
    }
  }

  .link-profile {
    text-decoration: none;
    border-bottom: 3px solid $danger;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    display: inline-block;
  }
}

//drop down

nav {

}

ul, li {
  margin: 0;
  padding: 0;
}

.main {
  position: absolute;
  z-index: 1;

}

.main li {
  list-style: none;
  background: #fff;
  color: #2B4064;
  width: 50px;
  padding: 0 5px;
  border: 0.5px solid #2B4064;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;

}

.main li:hover {
  background: #2B4064;
  color: white;
}

.main li:nth-child(odd) {
  -webkit-transform-origin: top;
  -webkit-transform: perspective(200px) rotateX(-90deg);
}

.main li:nth-child(even) {
  margin-top: -65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(200px) rotateX(90deg);
}

.hov:hover li:nth-child(odd) {
  -webkit-transform-origin: top;
  -webkit-transform: perspective(200px) rotateX(0deg);
  margin-top: 0;
}

.hov:hover li:nth-child(even) {
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(200px) rotateX(0deg);
  margin-top: 0;
}

.main li:first-child {
  margin-top: 0;
}

.hov {
  position: relative;
  height: 40px;
  width: 50px;
  color: white;
  font-size: 13px;
  font-family: Helvetica;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  list-style: none;
  z-index: 2;
  float: right;


}

